//  VARIABLES - BREAKPOINTS

// DESKTOP
$desktop-xlarge: em(2500);
$desktop-large: em(1920);
$desktop-medium: em(1440);
$desktop-small: em(1280);
$desktop-xsmall: em(1024);

// TABLET
$tablet-large: em(1024);
$tablet-small: em(768);

// PHONE
$phone-large: em(580);
$phone-medium: em(580);
$phone-small: em(320);
